#index{
    padding: 60px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: auto;
}
.form{
    font-size: large;
    text-decoration: none;
    background-color: black; 
}
.button {
    background-color: #0b0c0c;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    margin: 20px; /* espaço do canto */
    width: 100px; 
}

.button:hover {
    background-color: #0056b3; /* cor um pouco mais escura no hover */
}
.topo {
    position: absolute;
    top: 20px;     /* distância do topo */
    right: 20px; 
}
.link{
    text-decoration: none;
    color: #0b0c0c;
}
#text{
    color: black;
    font-size: 25px;
}

